.hidden {
    visibility: hidden;
    display: none;
}

#gameGrid {
    width: 800px;
    height: 700px;
    margin: 10px;
    border-radius: 10%;
    background: #d8d8d8;
    display: flex;
    position: relative;
    align-items: center;
    padding-left: 100px;
}

#switchDisplay {
    width: 100px;
    height: 50px;
    float: left;
    position: relative;
    background-color: #acacac;
    top: 300px;
    left: 150px;
}

.cell {
    width: 50px;
    height: 50px;
    margin: 10px;
    position: relative;
    background: rgb(255, 255, 255);
}