#game-grid {
    width: 800px;
    height: 700px;
    margin: 10px;
    border-radius: 15%;
    background: #d8d8d8;
    display: flex;
}

.cell {
    width: 100px;
    height: 100px;
    position: relative;
    background: rgb(255, 255, 255);
    border-radius: 100%;
}

.vertical-grid {
    width: 100px;
    height: 600px;
    margin-left: 1.5px;
    margin-right: 1.5px;
    margin-top: 20px;
    position: relative;
    left: 40px;
    top: 30px;
    
}

.hidden {
    visibility: hidden;
    display: none;
}